

  <!-- section file content -->

  {% form 'localization', id: "localization_from_tag", class: "dropup" %}

<button class="localBtn" disabled>{{form.current_locale.endonym_name}}</button>

<div class="dropup-content">
  
  {% for locale in shop.published_locales%}
  
  <a href="#" id="localeItem" lang="{{locale.iso_code}}">{{locale.endonym_name}}</a>
  
  {% endfor %}
  
</div>

 <input type="hidden" name="locale_code" value="{{form.current_locale.iso_code}}" id="localeCode"/>
{% endform %}


<script>

  document.querySelectorAll("#localeItem").forEach(item => {
    
      console.log("clicked");
    item.addEventListener("click", event => {
    
       document.getElementById('localeCode').value= item.getAttribute("lang");
       document.getElementById('localization_from_tag').submit();
       
    });
  
  });

</script>

<!-- end section file content -->

  <!-- and i attach section file direct theme.liquid  in the last of body -->

   <!-- style content for -->

   .dropup{
 
    position:relative;
    display:inline-block;
  }
  
  .localBtn{
  
     background-color:black;
     color:white;
     padding:15px;
     font-size:20px;
     position:fixed;
     bottom:25px;
     right:25px;
  
  }
  
  .dropup-content{
  
    display:none;
    position:fixed;
    bottom:90px;
    right:25px;
    min-width:190px;
    z-index:1;
    background-color:#f1f1f1
  
  }
  
  .dropup:hover .dropup-content{
  
     display:block;
  
  }
  
  .dropup-content a{
   
      color:black;
      font-size:15px;
      display:block;
      padding:15px 10px;
      text-align:center
  }
  
  .dropup-content a:hover{
  
     background-color:#f3f3f3
  
  }


   <!--end style content for -->